body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74b7b3, #575a5b);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  nav ul.nav-bar {
    min-height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    position: sticky;
  }
  nav ul.nav-bar li {
    list-style: none;
    letter-spacing: 0;
  }
  nav ul.nav-bar li a {
    text-decoration: none;
    color: #fff;
  }
  .cursor-container {
    z-index: 2;
    pointer-events: none;
  }
  .small {
    background: #fff;
    height: 6px;
    width: 6px;
  }
  .cursor {
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .big {
    border: 2px solid #fff;
    height: 20px;
    width: 20px;
  }